body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: hsl(30, 38%, 92%);
}

.container {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  line-height: 0;
  display: flex;
  overflow: hidden;
}

.container img {
  content: url(/assets/images/image-product-desktop.jpg);
  width: 350px;
  height: 100%;
}

.description {
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  padding: 35px 40px;
}

.product,
.about,
.new-price-tag,
.old-price-tag,
button {
  font-family: "Montserrat", serif;
}

.product {
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
  font-size: 16px;
  font-weight: 500;
}

.product-name {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 40px;
  color: hsl(212, 21%, 14%);
  line-height: 2.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about {
  font-family: "Montserrat", serif;
  color: hsl(228, 12%, 48%);
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 500;
}

.price-tag {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 20px;
}

.new-price-tag {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 36px;
  color: hsl(158, 36%, 37%);
}

.old-price-tag {
  color: hsl(228, 12%, 48%);
  font-size: 12px;
  font-weight: 600;
  text-decoration: line-through;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 18px;
  font-size: 14px;
  cursor: pointer;
}

button div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 18px;
  margin-right: 8px;
}

@media (max-width: 600px) {
  body {
    height: auto;
  }

  .container {
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 40px auto;
  }

  .container img {
    content: url("/assets/images/image-product-mobile.jpg");
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  .description {
    width: 100%;
    padding: 40px 30px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
  }

  .product {
    font-size: 20px;
  }

  .product-name {
    font-size: 50px;
    line-height: 50px;
  }

  .about {
    font-size: 22px;
    line-height: 2rem;
  }

  .price-tag {
    margin-bottom: 20px;
    gap: 30px;
  }

  .new-price-tag {
    font-size: 52px;
  }

  .old-price-tag {
    font-size: 20px;
  }

  button {
    padding: 22px;
    font-size: 24px;
    font-weight: 500;
  }

  button div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .material-symbols-outlined {
    font-size: 24px;
    margin-right: 16px;
  }
}
